In [9]:
# pip install llvmlite -U --ignore-installed
# pip install setuptools


pip install sweetviz

SyntaxError: invalid syntax (2007151924.py, line 5)

In [10]:
import sweetviz as sv

In [11]:
import pandas as pd
import numpy as np

In [76]:
df=pd.read_csv("C:/Learns/BankChurners.csv")

In [62]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 21
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,NaN
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,NaN
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,NaN
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,NaN
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,NaN

In [77]:
df = df.iloc[:, :-1]

In [78]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [31]:

feature_config = sv.FeatureConfig(skip=['CLIENTNUM'])
my_report = sv.analyze(df, "Attrition_Flag", feature_config)

                                             |                                             | [  0%]   00:00 ->â€¦

ValueError: TARGET values can only be of NUMERICAL or BOOLEAN type for now.
CATEGORICAL type was detected; if you meant the target to be
NUMERICAL, use a FeatureConfig(force_num=...) object.

In [79]:
df['Attrition_Flag'] = df['Attrition_Flag'].replace({'Existing Customer': 0, 'Attrited Customer': 1})

In [81]:
df.head()
df['Gender'] = df['Gender'].replace({'M': 1, 'F': 0})
df['Education_Level'] = df['Education_Level'].replace({'Uneducated': 0, 'Unknown': 1,'High School': 2, 'College':3, 'Graduate': 4, 'Post-Graduate': 5, 'Doctorate': 6})

In [46]:
df=pd.read_csv("C:/Learns/BankChurners.csv")
df=df.iloc[:,:-2]

In [64]:
df['Attrition_Flag'] = df['Attrition_Flag'].replace({'Existing Customer': 1, 'Attrited Customer': 0})

In [85]:
df.head()
df['Marital_Status'] = df['Marital_Status'].replace({'Married': 1, 'Single': 0, 'Unknown': 0.5, 'Divorced': 0.5})
# Mapping for Income_Category
income_mapping = {
    'Less than $40K': 0,
    '$40K - $60K': 1,
    '$60K - $80K': 2,
    '$80K - $120K': 3,
    '$120K +': 4,
    'Unknown' : 2
}

# Mapping for Card_Category
card_mapping = {
    'Blue': 0,
    'Silver': 1,
    'Gold': 2,
    'Platinum': 3
}

# Replace values with numerical mapping
df['Income_Category'] = df['Income_Category'].replace(income_mapping)
df['Card_Category'] = df['Card_Category'].replace(card_mapping)

In [49]:

feature_config = sv.FeatureConfig(skip=['CLIENTNUM'])
my_report = sv.analyze(df, "Attrition_Flag", feature_config)

                                             |                                             | [  0%]   00:00 ->â€¦

In [50]:
my_report.show_html()

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [67]:
df['Attrition_Flag'] = df['Attrition_Flag'].replace({1: 0, 0: 1})

In [86]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,0,45,1,3,2,1.0,2,0,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,0,49,0,5,4,0.0,0,0,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,0,51,1,3,4,1.0,3,0,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,0,40,0,4,2,0.5,0,0,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,0,40,1,3,0,1.0,2,0,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [70]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,0,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,0,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,0,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,0,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,0,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [58]:
df['Attrition_Flag'] = df['Attrition_Flag'].replace({'Attrited Customer': 1, 'Existing Customer': 0})

In [88]:
cat_feat = list(df.select_dtypes(include=['object']).columns)

In [89]:
print(cat_feat)

[]

In [90]:
# Separate features and target variable
X = df.drop('Attrition_Flag', axis=1)
y = df['Attrition_Flag']

In [91]:
#  Split the data into training and testing sets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [92]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [93]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8385982230997039

In [94]:
from sklearn.ensemble import RandomForestClassifier

# Create a Random Forest classifier and train it
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = rf.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9555774925962488

In [95]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a Gradient Boosting classifier and train it
gbm = GradientBoostingClassifier()
gbm.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = gbm.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9664363277393879

In [96]:
from sklearn.svm import SVC

# Create an SVM classifier and train it
svm = SVC()
svm.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = svm.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8385982230997039

In [97]:
from sklearn.neural_network import MLPClassifier

# Create a Neural Network classifier and train it
nn = MLPClassifier()
nn.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = nn.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8385982230997039

In [98]:
import xgboost as xgb

# Create an XGBoost classifier and train it
xgboost = xgb.XGBClassifier()
xgboost.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = xgboost.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

ModuleNotFoundError: No module named 'xgboost'

In [99]:
pip install xgboost

Collecting xgboostNote: you may need to restart the kernel to use updated packages.

  Downloading xgboost-1.7.5-py3-none-win_amd64.whl (70.9 MB)
     --------------------------------------- 70.9/70.9 MB 11.5 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.5

In [100]:
import xgboost as xgb

# Create an XGBoost classifier and train it
xgboost = xgb.XGBClassifier()
xgboost.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = xgboost.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9674234945705824

In [101]:
from sklearn.naive_bayes import GaussianNB

# Create a Naive Bayes classifier and train it
nb = GaussianNB()
nb.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = nb.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8385982230997039

In [103]:
from pycaret.classification import *
clf = setup(df
            ,target = 'Attrition_Flag'
            ,ignore_features = ['CLIENTNUM']  
            ,numeric_imputation = 'mean'
#             ,categorical_imputation = 'mode'
#             ,categorical_features = cat_feat
#             ,numeric_features = int_feat
            ,remove_outliers = True
            ,train_size = 0.80            
            ,session_id = 1988            
           )
base_model2 = compare_models(fold = 5,sort = 'AUC', n_select = 1)

Processing:   0%|          | 0/65 [00:00<?, ?it/s]